@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&family=Roboto+Slab&display=swap');

body {
  background-color: #ef6c00;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Proza Libre', sans-serif;
}

.header-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.search {
  width: 20px;
  height: 20px;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data div {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.symbol {
  font-weight: bold;
  font-family: 'Roboto', monospace;
  font-size: 1.4em;
}

.data div:nth-child(4n-3) {
  background-color: #f57c00;
}

.data div:nth-child(4n) {
  background-color: #f57c00;
}

.data div:nth-child(4n-1) {
  background-color: #fb8c00;
}

.data div:nth-child(4n-2) {
  background-color: #fb8c00;
}

.enter-icon {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  justify-self: flex-start;
  margin-right: 10%;
  color: white;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 2em;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% { -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5); }
  100% { -webkit-transform: rotate(-360deg); }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.hide {
  display: none;
}
